<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <style>
        body{
            background-image: url({{ url_for('static', filename='airplane.jpg') }})
        }
        h1 {text-align: center;}
        h2 {text-align: center;}
    </style>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	<h1>Flight Delay Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post" align="center">
        <label for="html">Year:</label>
    	<input type="text" name="year"  required="required" /><br> <br>
        <label for="html">Month:</label>
        <input type="text" name="month"  required="required" /><br><br>
        <label for="html">Day:</label>
		<input type="text" name="day"  required="required" /><br><br>
        <label for="html">Scheduled Departure Time:</label>
		<input type="text" name="sched_dep_time"  required="required" /><br><br>
        <label for="html">Scheduled Arrival Time:</label>
        <input type="text" name="sched_arr_time"  required="required" /><br><br>
        <label for="html">Carrier Number:</label>
        <input type="text" name="carrier"  required="required"  /><br><br>
        <label for="html">Flight Number:</label>
        <input type="text" name="flight"  required="required" /><br><br>
        <label for="html">Tail number:</label>
        <input type="text" name="tailnum" required="required" /><br><br>
        <label for="html">Departure Airport Number:</label>
        <input type="text" name="origin"  required="required" /><br><br>
        <label for="html">Arrival Airport Number:</label>
        <input type="text" name="dest"  required="required" /><br><br>
        <label for="html">Air Time:</label>
        <input type="text" name="air_time"  required="required" /><br><br>
        <label for="html">Distance:</label>
        <input type="text" name="distance" required="required" /><br><br>
        <label for="html">Travel Hour:</label>
        <input type="text" name="hour"  required="required" /><br><br>
        <label for="html">Travel Minutes:</label>
        <input type="text" name="minute"  required="required" /><br><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
     <h2>{{ text_log}}</h2>
     <h2>{{ text_xgb }}</h2>

 </div>


</body>
</html>